@font-face {
    font-family: "Satoshi Medium";
    font-style: normal;
    font-weight: medium;
    src: local("Satoshi Medium"), url("font/Satoshi-Medium.woff") format("woff");
}

@font-face {
    font-family: "Satoshi Bold";
    font-style: normal;
    font-weight: bold;
    src: local("Satoshi Bold"), url("font/Satoshi-Bold.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

main {
    height: auto;
    width: auto;
    padding: 15px;
    max-width: 38rem;
    background-color: rgba(193, 193, 193, 0.2);
    backdrop-filter: blur(19px);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: "Satoshi Medium";
    z-index: 1;
}

main > img {
    height: 320px;
    width: 320px;
    border-radius: 25px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
}

main > h1 {
    color: #fff;
}

.button {
    min-width: 200px;
    text-decoration: none;
    user-select: none;
    text-align: center;
    backdrop-filter: blur(19px);
    letter-spacing: 5px;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 30px;
    padding: 10px 35px 10px 35px;
    font-family: "Satoshi Bold";
    transition: 1s;
}

.button:hover {
    letter-spacing: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    filter: brightness(0.2);
}

.steam {
    background-color: rgba(0, 0, 0, 0.7);
}

.telegram {
    background-color: rgba(15, 126, 177, 0.7);
}